* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body{
 font-size: 18px;
 line-height: 1.2;
 color: #14274A;
 font-family: 'Montserrat';
 color: #14274A;
 font-weight: 700;
}

h1,
.h1{
font-size: 154px;
line-height: normal;
}

h2,
.h2{
font-size: 80px;
line-height: normal;
}

h3,
.h3{
font-size: 60px;
line-height: normal;
}

h4,
.h4{
font-size: 36px;
line-height: normal;
padding-left: 250px;
font-weight: 400;
padding-bottom: 93px;
padding-top: 63px;
}

h5,
.h5{
    font-size: 25px;
    line-height: 40px;

}

.facilities-text{
    font-weight: 400;
    text-align: center;
    padding-top: 34px;
}