.btn{
    display: inline-flex;
    width: 236px;
    height: 63px;
    align-items: center;
    justify-content: center;
    background-color: #E0B973;
    border-radius: 10px;
    margin-top: 30px;
}

.btn-text{
    color: #FFF;
    font-size: 20px;
    font-style: none;
}