.card-container{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
}

.card{
    width: 1569px;
    height: 579px;
    flex-shrink: 0;
}


.card img{
    width: 866px;
    height: 579px;
    border-radius: 0px;
    flex-shrink: 0;
    padding-bottom: 69px;
}

.card-text{
    padding-top: 30px;
    color: #5F6368;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
